@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap");


body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Chakra Petch" !important;
  }
  
  main h1 span {
    color: red;
    font-size: larger;
    text-transform: uppercase;
  }
  
  main p {
    color: white;
    text-align: center;
  }

  .btn {
    background: red;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background: rgb(128, 11, 11);
  }

main i  {
    font-size: 2rem;
}


  a {
      color: red;
      font-weight: bold;
  }



